@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

// @import 'normalize';
// @import 'variables';
// @import 'mixins';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    color: #444444;
}

a, button {
    transition: all .4s ease-in;
}